<table class='table table-striped table-responsive'>
  <thead>
    <th>#</th>
    <th>Artist Name</th>
  </thead>
  <tbody>
    <% @artists.each_with_index do |artist, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= artist.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
