<center>
  <h1>FestSuggest</h1>
  <p>
    
  </p>
</center>

<center>
  <% if current_user %>
    <%= link_to "top 5 by all time top artists", festivals_path(range: 'long_term'), class: 'btn btn-default' %>
    <%= link_to "top 5 by artists last 6 months", festivals_path(range: 'medium_term'), class: 'btn btn-default' %>
    <%= link_to "top 5 by artists last 4 weeks", festivals_path(range: 'short_term'), class: 'btn btn-default' %>
    <br /><br />
    <p>
      <em>This website is currently in alpha testing. Response times are very slow. Please be patient, as requests can take nearly 1 full minute.</em>
    </p>
  <% end %>
</center>
